<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <vue-headful title="Barbuuuda: Просмотр задания"/>   -->
</head>

<body>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!-- <p-button (click)="confirm1()" icon="pi pi-check" label="Confirm" styleClass="p-mr-2"></p-button> -->
<!-- <p-button (click)="confirm2()" icon="pi pi-times" label="Delete"></p-button> -->

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<p-toast></p-toast>

  <!-- Статусы. -->
  <div class="mt-4 pt-3 mb-4 text-center block-status">
    <div class="mb-3 item-status">
        <span class="circle-first">1</span>&nbsp;
        <span class="category-text">Создание задания</span>
        <br>
        <small><a href="#">Редактировать</a></small>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">2</span>&nbsp;
        <span class="category-text">В аукционе</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">3</span>&nbsp;
        <span class="category-text">В работе</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">4</span>&nbsp;
        <span class="category-text">На гарантии</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">5</span>&nbsp;
        <span class="category-text">Завершен</span>
    </div>
</div>    

<div class="d-flex block-task-title">
    <div class="col-lg-12 details-task item-view">
      <div class="mt-3 d-flex">
        <img class="mr-1 icon_photo" 
              v-bind:src="getImgUrl(this.oEditTask.editTask[0].customerProfileIcon)">
          <h4 class="ml-1"><strong>{{customerLogin}}</strong></h4>
      </div>

      <div class="mt-3">
        <h4><strong>{{taskTitle}}</strong></h4>
        <span>{{taskDetail}}</span>
      </div>

      <div class="mt-3">
        <h4><strong>Прикрепленные файлы:</strong></h4>
      </div>

      <div class="mb-3">
        <span>К данному заданию заказчик не приложил файлов.</span>
      </div>
    </div>
</div>

<div class="col-lg-2 mt-5">
    <img src="../assets/images/chat-icon.png">&nbsp;
    <strong class="chat-link" 
            data-toggle="modal" 
            _data-target=".bd-example-modal-xl"
            (click)="onShowChat()">
      Открыть чат
    </strong>
</div>

<!-- Детали задания. -->
<div class="col-lg-12 mt-5 mb-5">
    <div class="d-flex">
        <div class="fon-profile col-lg-3">
            <h6>Детали задания</h6>

            <div class="stat-item d-flex justify-content-between">
                <div>
                    <small>ID:</small>
                </div>

                <div>
                    <small>{{taskId}}</small>
                </div>
            </div>

            <div class="stat-item d-flex justify-content-between">
                <div>
                    <small>Бюджет:</small>
                </div>

                <div>
                    <small *ngIf="bNotTaskPrice">{{taskPrice}} ₽</small>

                    <small *ngIf="!bNotTaskPrice">По договоренности</small>
                </div>
            </div>

            <div class="stat-item d-flex justify-content-between">
                <div>
                    <small>Дата сдачи до:</small>
                </div>

                <div>
                    <small>{{taskBegda}}</small>
                </div>
            </div>

            <div class="stat-item d-flex justify-content-between">
                <div>
                    <small>Категория:</small>
                </div>

                <div>
                    <small>{{categoryName}}</small>
                </div>
            </div>

            <div class="stat-item d-flex justify-content-between">
                <div>
                    <small>Специализация:</small>
                </div>

                <div>
                    <small>{{specName}}</small>
                </div>
            </div>

            <div class="stat-item task-details mt-3 mb-3">
                <div>
                    <button class="btn-next form-control-sm" 
                            *ngIf="role == 'C'"
                            (click)="onEditTask()">
                        РЕДАКТИРОВАТЬ
                    </button>      
                    
                    <button class="btn-next form-control-sm" 
                            *ngIf="role == 'E'"
                            (click)="onShowRespondModal()">
                        СДЕЛАТЬ СТАВКУ
                    </button>   
                </div>                   
            </div>

            <button class="form-control-sm btn btn-link" 
                    *ngIf="role == 'C'">
                В черновик
            </button>

            <br>

            <button class="form-control-sm btn btn-link" 
                    *ngIf="role == 'C'" 
                    (click)="onShowDeleteModal()">
                Удалить
            </button>
        </div>            

        <!-- Правая часть. -->
        <div class="col-lg-9">                
            <div class="d-flex mt-3">
                <div class="item-view d-flex col-lg-12">
                    <div class="col-lg-6 text-center">
                        <span>Исполнители, представленные ниже, были<br> проверены и приняты администрацией.</span>
                    </div>

                    <div class="col-lg-6 text-center">
                        <span>Все исполнители имеют рейтинг, отзывы и<br> историю выполненных работ.</span>
                    </div>
                </div>
            </div>
            
            <h6 class="mt-3 mb-3" *ngIf="role == 'E'">
                <strong>Ставок к заданию: </strong> {{respondCount}} </h6>

            <h5 class="mt-3 mb-3" *ngIf="role == 'C' && bSelectPay && role == 'C' && !bWorkAccept">
                <strong>Выберите исполнителя</strong> для вашего задания</h5>

                <h5 class="mt-3 mb-3" *ngIf="role == 'C' && bSelectPay && role == 'C' && bWorkAccept">
                  Выбранный исполнитель</h5>

            <!-- Область со списком ставок к заданию. -->            
                <div class="card responds_list" *ngFor="let respond of aResponds">
                    <div class="card-body card_respond d-flex justify-content-between">
                    <div class="block_respond">
                        <div class="d-flex">
                            <img class="mr-1 icon_photo" v-bind:src="getImgUrl(respond.userIcon)">
                            
                            <div class="ml-3">
                                <div>
                                    <strong>{{respond.userName}}</strong>
                                </div>
                                
                                <div _class="col-lg-12"> 
                                    <span>{{respond.comment}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="d-flex mt-3">
                                <img class="mr-1" src="../assets/images/allworks.webp">
                                <span>Всего заданий {{respond.countTotalCompletedTask}}</span>
                            </div>
    
                            <div class="d-flex align-items-center mt-3 ml-5">
                                <img class="mr-1" src="../assets/images/good.webp">
                                <span>{{respond.countPositive}}</span>
                            </div>

                            <div class="d-flex align-items-center mt-3 ml-5">
                                <img class="mr-1" src="../assets/images/bad.webp">
                                <span>{{respond.countNegative}}</span>
                            </div>
                        </div>
                    </div>                      

                    <div class="text-right">
                        <div>                              
                          <div>
                            <button type="button" class="close close-icon" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          
                          <br>

                            <strong>Ставка {{respond.price}} ₽</strong>
                            <br>
                            <div class="">
                              <span class="badge badge-pill badge-warning"
                                    *ngIf="bSelectPay && role == 'C' && bWorkAccept == false">
                                    Исполнитель выбран. Ожидание подтверждения исполнителем.</span>
                              
                              <span class="badge badge-pill badge-success"
                                    *ngIf="bSelectPay && role == 'C' && bWorkAccept">Исполнитель выбран.</span>
                            </div>   
                        </div>
                        
                        <div>
                          <!-- (click)="onSelectExecutor(oData.oViewTaskId, respond.executorId)" -->
                          <button 
                                  class="btn-next btn-create-task form-control-sm mt-3"  
                                  *ngIf="role == 'C'"
                                  _data-toggle="modal"
                                  _data-target=".bd-example-modal-xl" 
                                  (click)="confirm1()">
                            ВЫБРАТЬ
                          </button>

                          <br>
                          <!-- (click)="onAnswer(respond.executorId)" -->
                            <button class="btn-next form-control-sm mt-3" 
                                    *ngIf="role == 'C'" 
                                    data-toggle="modal" 
                                    _data-target=".bd-example-modal-xl"
                                    >
                                ОТВЕТИТЬ
                            </button>                               

                            <button class="btn-next btn-create-task form-control-sm mt-3" 
                                    *ngIf="role == 'E' && respond.isVisibleButton" >
                                ИЗМЕНИТЬ СТАВКУ
                            </button>                                                                         
                        </div>
                    </div>
                    </div>
                </div>
        </div>           
    </div>
</div>

<!-- Модалки. -->

</body>
</html>