$openSans: Open Sans;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Заголовок карточки.
@mixin cardTitle {
  color: #000000;
  font-size: 14px;
}

// Текст карточки.
@mixin cardText {
  color: #9A9A9A;
  font-size: 14px;
}

// Заголовки заданий.
@mixin blueTitleTask {
  color: #00BCD4;
  font-size: 18px;
}

// Текст задания.
@mixin textTask {
  color: #444444;
  font-size: 17px;
  padding-left: 14px;
}

// Цены заданий.
@mixin taskPrice {
  color: #00BCD4;
  font-size: 20px;
}

// Голубая кнопка.
@mixin blueBtn {
  color: white;
  border-color: #00BDD6;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
  // background: url(../assets/images/fon.png) center center/cover no-repeat;
}

.main-fon {
  position: absolute;
  top: 50px;
}

.start {
  background: url(../assets/images/fon.png) center center/cover no-repeat;
  width: 99.5%;
  height: 900px;
  display: flex;

  // Левая панель.
  .aside {
    position: relative;
    width: 80px;
    background: #005F96;
    height: 900px;

    .left-panel {
      position: absolute;
      top: 0;
      left: -300px;
      height: 100vh;

      .block-title {
        display: flex;
        justify-content: center;
      }
    }

    .fa-bars {
      height: 140px;
    }

    #idLeftMenu {
      line-height: 1;
      color: #ffffff;

      .left-ul {
        align-items: flex-start;
        height: 800px;
        background: #005F96;


        i {
          margin-right: 14px;

          &:hover {
            color: #00bcd4;
          }
        }

        a {
          &:hover {
            color: #00bcd4;
          }
        }
      }

      .nav-link {
        // margin: 10px 0;
        color: #ffffff;
        cursor: pointer;
        padding: 20px;
        width: 210px !important;

        &:hover {

          border-left-color: #00bcd4;
          background-color: #17242f;
          border-left: 2px solid #00bcd4;
          padding-left: 15px;
          padding-right: 15px;

          i {
            color: #00bcd4;
          }

          a {
            color: #00bcd4;
          }
        }

        a {
          color: #ffffff;
          text-decoration: none;

          &:hover {
            color: #00bcd4;
          }
        }



        .left-panel-not-left {
          position: absolute;
          top: 0;
          height: 100vh;
          // background: #005F96;
          // z-index: 9999;
        }
      }
    }
  }
}

// Блок с фоном.
.block-main-fon {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;

  //line-height: 5;
  .title {
    // position: absolute;
    // top: 30%;
    font-family: Oswald;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
  }

  .title-dop {
    font-size: 56px;
    margin-left: 60px;
    white-space: pre-line;
    text-align: left;
    max-width: 547px;
    line-height: 57px;
    color: #666666;
  }

  .mt-3 {
    margin-top: 50px !important;
  }

  // .tablinks:focus {
  //   outline: none;
  // }

  // Кнопка создать задание.
  .btn-create-task {
    position: absolute;
    top: 45%;
    border-radius: 45px !important;
    // background: #F4511E;
    color: white;
    //transition: all 0.21s ease;
    transition: all .3s ease-out;
    border-radius: initial;
    border-color: #F4511E;
    font-family: Oswald;
    font-size: 12px;
    border-color: #00BDD6;
    border: none;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  .centered-fon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }


  // Для цветного скролла.
  /*.flexcroll {
  scrollbar-face-color: #367CD2;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
  height: 100vh;
}*/

  /* Track */
  /*.flexcroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}*/

  /* Handle */
  /*.flexcroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #00BDD6;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

  /* Let's get this party started */
  /*.flexcroll::-webkit-scrollbar {
  width: 12px;
}*/
  // Текст с иконкой левой панели.
  //   .nav-link {
  //     margin: 10px 0;
  //     color: #ffffff;
  //     cursor: pointer;
  //     width: 250px !important;

  //     &:hover {
  //       border-left-color: #00bcd4;
  //       background-color: #17242f;
  //       border-left: 2px solid #00bcd4;
  //       padding-left: 15px;
  //       padding-right: 15px;

  //       i {
  //         color: #00bcd4;
  //       }

  //       a {
  //         color: #00bcd4;
  //       }
  //     }

  //     a {
  //       color: #ffffff;
  //       text-decoration: none;

  //       &:hover {
  //         color: #00bcd4;
  //       }
  //     }

  //     .icon {
  //       font-size: 19px;
  //       margin-right: 15px;

  //       &:hover {
  //         color: #00bcd4;
  //       }
  //     }
  //   }
  // }

  .left-nav {
    line-height: 2;
  }

  // Logo.
  .logo-title {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
}

.what-is-work {
  font-family: Open Sans;
  font-size: 30px;
  color: #000000;
}

.content {
  font-family: $openSans;
  font-size: 14px;
}

.content-title {
  font-size: 23px;
  color: #666666;
  line-height: 1.5;
  text-align: center;
  // white-space: pre-line;
}

.block-work-head {
  font-size: 21px;
}

.block-text {
  font-size: 15px;
  text-align: center;
}

.title-color {
  color: #F4511E;
}

.gray-fon {
  // background: url(../assets/images/part-fon.png) no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: relative;

  .block-with-fon {
    width: 100%;
    height: 300px;
    z-index: 0;
    position: absolute;
    background: url(../assets/images/Subtract.png) center center/cover no-repeat;
  }

  .heading {
    position: relative;
    z-index: 5;
  }

  //margin-top: -4%;
}



.card-title {
  @include cardTitle;
}

.card-text {
  @include cardText;
}

.card {
  border: none !important;

  .categories {
    border-radius: 40px;
    background: rgba(255, 189, 74, 0.1);
    flex-direction: column;

    .cat-icons {
      background: #005F96;
      border-radius: 30px;
      width: 100px;
      height: 100px;


      img {
        height: 60px;
      }
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: all .3s ease-out;
    }
  }
}

.exec-fon {
  background: url(../assets/images/executor-fon.png) center center/cover no-repeat;
  width: 100%;
  height: 800px;
  position: absolute;
}

.exec-head {
  position: relative;
}

// Для строки заданий.
.title-row {
  font-size: 20px;
  align-items: center;
  display: flex;
}

// Цвет заголовкой заданий.
.task-title {
  @include blueTitleTask;
}

.text-task {
  @include textTask;
}

.task-price {
  @include taskPrice;
}

.div-price {
  margin-left: 15%;
}

hr {
  margin: 0;
}

.task-footer {
  display: flex;
  justify-content: space-between;
}

.task-category {
  color: #2D7091;
}

.send-task {
  @include textTask;
  color: #00BCD4;
}

.btn-all-tasks {
  background: #00BDD6;
  border-color: #00BDD6;
  border: none;
  @include blueBtn;
}

.pro {
  color: #E28327;
  font-size: 10px;
}

.collapse:not(.show) {
  display: block;
}

// Скрывает вкладку роли.
.role-hide {
  display: none;
}

.role-show {
  display: block;
}

#idRightMenu {
  justify-content: center;
}

// Текст описания роли.
.text-role {

  // font-family: Open Sans;
}

.selected-role {
  background: #00BCD4;
}

.not-selected-role {
  background: white;
}

.block-work {
  flex-wrap: wrap;
}

.block-title {
  display: none;
}


.text-center {
  font-size: 35px;
  font-weight: 600;
}

.gray-fon-text {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  width: 560px !important;
  color: #8F8A8B;
  font-weight: 400;
}

.bordered {
  width: 322px;
  height: 322px;
  border: 2px solid #FFBC4A;
  border-radius: 50%;
  margin-bottom: 50px;
}

.circle-bordered {
  margin: 30px;
  width: 258px;
  height: 258px;
  background: #FFBC4A;
  border-radius: 50%;

  img {
    width: 100px;
  }
}


.execs-best {
  border-radius: 37px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.fon {
  position: relative;
  display: flex;
  background: url(../assets/images/exec-part.png) center center/cover no-repeat;
  height: 935px;

  .advantage {
    position: absolute;
    right: 80px;
    top: -70px;
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading-advant {
      margin: 0 auto;
    }

    .gray-text {
      color: #8F8A8B;
      font-size: 23px;
      line-height: 140%;
      margin: 37px 0 95px 0;
    }

    .content-advantages {
      display: flex;

      img {
        position: relative;
        z-index: 1;
      }

      .advantages-icons {
        background: white;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        height: 180px;
        flex-direction: column;

        .advant-principes {
          font-size: 17px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

.execs {
  flex-direction: column;
  padding-left: 14px;
}

.star {
  padding-left: 14px;
  width: 55px;
}

.col-lg-2 {
  max-width: 100% !important;
}

.item-get {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px 0;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.btn-color {
  background: #00BDD6;
}

.creating {
  margin: 0 auto;
}

.img-reg {
  margin-right: 45px;
}


h3 {
  text-align: center;
}

button {
  width: 400px;
}

.text-content {
  margin-left: 35px;
  margin-right: 90px;
}


// .img-reg:first-child {
//   padding-right: 45px;
// }