<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://paymaster.ru/widget/css/widget.css">    -->
  
    <!-- Вставьте эту строку вверху страницы внутри тега head. -->
    <link rel="stylesheet" type="text/css" href="https://info.paymaster.ru/pm-widget-test/script/css/widget.css">
</head>

<body>  
  <h3 class="col-lg-12 text-center mt-3">Пополнение счета</h3>
  <!-- TODO: возможно нужно будет вернуть после подключения реальной платежной системы. -->
<!-- <div id="pm-widget-1629662182424">222</div>
    
<script src="https://paymaster.ru/widget/widget.bundle.js"></script>
<script>
  var PM_WIDGET_CONFIG_1629662182424 = 
  {"paymentForm":{"value":{"description":{"label":"Наименование услуги","access":"readonly","value":"тестовая оплата"},"amount":{"label":"Сумма оплаты","access":"readonly","value":"150"},"merchantId":{"value":"02d2f902-e614-43d0-a0b6-2026b9923932"}}},"payment":{"submitText":"Оплатить","allowExternal":false,"methods":["test"]},"placement":"inline"}
  var widget_1629662182424 = new PayMasterWidget();
  widget_1629662182424.mount('pm-widget-1629662182424', PM_WIDGET_CONFIG_1629662182424);
</script> -->
</body>

</html>