<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <vue-headful title="Barbuuuda: Главная"/> -->
</head>

<body>  
  <main class="container-fluid mt-5">
    <div class="main-wrapper d-flex justify-content-between">
      <div class="content-wrapper col-lg-3">
        <profile-bar></profile-bar>
       
       
      </div>

      <div class="content-wrapper col-lg-9">
        <div class="notifications">
          <div class="notifications__wrp">
            <span class="notifications__subtitle">Уведомления</span>
            <span class="notifications__history ml-3">История уведомлений</span>
          </div>
          <p class="notifications__txt" *ngIf="!bActivity">Новых уведомлений нет</p>
          <h5 class="ml-3 mt-3" *ngIf="aInvities.length > 0">Задания, в которых вас выбрали исполнителем</h5>

          <!-- Список уведомлений. -->
          <div class="block-my-tasks mb-3">
            <div *ngFor="let item of aInvities">
              <div class="card card-task card-subcategory" *ngFor="let el of item">
                <div class="card-header header-task">
                  <div class="block-icon">
                    <div>
                      <img src="../assets/images/1-wiper1.png">
                    </div>
                    &nbsp;

                    <div class="ml-1 text-dark">
                      <span>{{el.userName}}</span><br>
                      <small>{{el.taskBegda}}</small>
                    </div>
                  </div>

                  <div class="">
                    <img src="../assets/images/message.png">&nbsp;
                    <span class="text-dark">{{el.countOffers}}</span>
                  </div>

                  <div class="">
                    <img src="../assets/images/Icon.png">&nbsp;
                    <span class="text-dark">{{el.countViews}}</span>
                  </div>

                  <div class="badge badge-pill badge-primary">
                    <span>{{el.typeCode}}</span>
                  </div>

                  <div class="badge badge-pill badge-warning">
                    <span>{{el.statusName}}</span>
                  </div>

                  <div class="task-price">
                    <img src="../assets/images/date_range.png">
                    <span>{{el.taskEndda}}</span>
                  </div>

                  <div class="task-price">
                    <span>{{el.taskPrice || 'По договоренности'}}
                      <span *ngIf="el.taskPrice">₽</span>
                    </span>
                  </div>
                </div>

                <div class="card-body">
                  <h5 class="card-title task-title">
                    {{el.taskTitle}}
                  </h5>

                  <p class="card-text task-detail">
                    {{el.taskDetail}}
                  </p>
                </div>

                <div class="card-footer task-detail">
                  <div class="block-footer">
                    <div class="task-category">
                      <span>{{el.categoryName}}</span>
                    </div>

                    <div class="offer">
                      <button class="btn-next form-control-sm" *ngIf="el.countOffers"
                        (click)="onAcceptTaskAsync(el.taskId)">
                        ПРИНЯТЬ
                      </button>

                      &nbsp;

                      <button class="btn-next btn-create-task" *ngIf="!el.countOffers"
                        (click)="onCancelTaskAsync(el.taskId)">
                        ОТКАЗАТЬСЯ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Панель перед началом теста. -->
        <div class="panel-before-test" *ngIf="!isHideStepsTest && role == 'E'">
          <div class="mb-3">
            <span class="notifications__subtitle">Добро пожаловать на Barbuuuda!</span>
          </div>

          <div class="content-title mb-3">
            <span class="content-title">Barbuuuda - это онлайн-сервис, где заказчики и исполнители могут находить друг друга. Вы сами находите
              задания и работаете с заказчиком напрямую.</span>
          </div>

          <div class="content-title">
            <strong>Пройдите 4 простых шага для того, чтобы начать работать на сервисе Barbuuuda.</strong>
          </div>

          <button class="btn-next form-control-sm mb-3 mt-3" (click)="onStartSteps()">НАЧАТЬ</button>
          <hr>

          <div>
            <strong class="content-title">
              Если у вас что-то не получается, обратитесь в службу поддержки
              <span class="email">info.barbuuuda@mail.ru</span><br>
              Наши сотрудники обязательно вам помогут.
            </strong>
          </div>
        </div>

        <!-- Панель прохождения теста. -->
        <p-tabView *ngIf="isHidePanelTest && role == 'E'">
          <p-tabPanel class="step" header="Шаг 1.Ознакомление с правилами">
            <div class="content-title">
              Для работы на сервисе Barbuuuda, Вы должны ознакомиться с правилами работы на сервисе.
            </div>

            <button class="btn-regulations form-control-sm mb-3 mt-3" >ПРАВИЛА</button>
          </p-tabPanel>

          <p-tabPanel class="step" header="Шаг 2.Заполнение информации о себе">
            <h4>Немного о себе</h4>
            <span>{{oProfileData.aboutInfo}}</span>

            <br>

            <button class="btn-next form-control-sm mb-3 mt-3" >ЗАПОЛНИТЬ ПОЗЖЕ</button>
          </p-tabPanel>

          <p-tabPanel class="step" header="Шаг 3.Выбор категорий и подкатегорий">
            Content 3
          </p-tabPanel>

          <p-tabPanel class="step" header="Шаг 4.Прохождение теста">
            <div class="tab-pane fade" id="idTest" role="tabpanel" aria-labelledby="contact-tab">
              <span>Для обеспечения качества работы исполнителей, мы должны быть уверены, что Вы ознакомились с
                правилами работы на сервисе.</span>
              <br>
              <button class="btn-next form-control-sm mb-3 mt-3" (click)="onStartTest()">НАЧАТЬ</button>
            </div>
          </p-tabPanel>
        </p-tabView>        

        <!-- Панель вопросов теста. -->
        <div class="panel-test" *ngIf="isHidePanelStartTest && role == 'E'">
          <div *ngFor="let item of aQuestion">
            <div *ngFor="let el of item">
              <div>
                <div class="mb-3">
                  <span class="notifications__subtitle">
                    Вопрос {{currentQuestion}} из {{iQuestionsCount}}
                  </span>
                </div>
                <div class="content-title mb-3">
                  <strong>
                    {{el.questionText}}
                  </strong>
                </div>

                <div *ngFor="let item of el.answerVariantText">
                  <div class="content-title" *ngFor="let question of item">
                    <input id="idSelectedVariant" type="radio" name="variant" _(click)="onAddVariant(question)">
                    <span>
                      {{question.answerVariantText}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>

          <button class="btn-next form-control-sm mb-3 mt-1" *ngIf="currentQuestion < 7"
            (click)="onNextQuestionAsync()">ДАЛЕЕ</button>

          <button class="btn-next form-control-sm mb-3 mt-1" *ngIf="currentQuestion == 7"
            (click)="onCheckAnswersTestAsync()">ЗАКОНЧИТЬ ТЕСТ</button>
        </div>
      </div>
    </div>

    <!-- Модальное окно ошибки, если нет роли заказчика. -->
    <div class="modal fade" id="idNotSelectedVariant" tabindex="-1" role="dialog" aria-labelledby="idNotCustomerTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="idNotCustomerTitle">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            Не выбран вариант ответа.
          </div>

          <div class="modal-footer">
            <button type="button" class="form-control-sm btn-next" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>