<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <vue-headful title="Barbuuuda: Редактирование задания"/> -->
</head>

<body>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>

  <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

  <p-toast></p-toast>

  <!-- Статусы. -->
  <div class="container mt-4 pt-3 mb-3 text-center block-status">
    <div class="mb-3 item-status">
        <span class="circle-first">1</span>&nbsp;
        <span class="category-text">Создание</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">2</span>&nbsp;
        <span class="category-text">В аукционе</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">3</span>&nbsp;
        <span class="category-text">В работе</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">4</span>&nbsp;
        <span class="category-text">На гарантии</span>
    </div>

    <div class="mb-3 item-status">
        <span class="circle-second">5</span>&nbsp;
        <span class="category-text">Завершен</span>
    </div>
  </div>

    <div class="container">
        <h3 class="text-center">Форма редактирования задания</h3>
    </div>

    <div class="container mt-3 text-center">
        <span class="">
            Найдите подходящего исполнителя для своего проекта или задачи на нашем сервисе удаленной работы.
        </span>
    </div>

    <!-- Поле поиска. -->
    <div class="col-lg-12">
        <div class="text-center mt-3">
            <div>
                <div class="search-block">
                    <input type="search" class="form-control-sm search-category"
                        placeholder="Поиск категории или специализации...">
                    <div class="input-group-append">
                        <button class="btn btn-detault btn-search" type="button" id="button-addon2">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Категории. -->
    <!-- <div class="block-categories">
      <div class="text-center mt-3">
        <div class="subcategories-categories">
         
        </div>

        <button class="btn-next form-control-sm" v-on:click="onShowTaskFields()">ДАЛЕЕ</button>
      </div>      
    </div> -->
    
    <ul class="d-flex block-categories">
      <h3 class="col-lg-12 mt-3 mb-3">Выберите категорию</h3>
      <li class="list-group-item col-lg-3" *ngFor="let el of aCategories">
        <div class="">
          <div class="">
            <strong class="title-category">
              {{el.categoryName}}
            </strong>
          </div>
          
          <div class="text-spec" 
                *ngFor="let item of el.specializations"
                (click)="onGetSpec(item.specName, item.specCode, el.categoryName, el.categoryCode)">
            {{item.specName}}
          </div>
        </div>
      </li>      
    </ul>    

    <div class="d-flex justify-content-center">
      <!-- <button class="btn-next form-control-sm" v-on:click="onShowTaskFields()">ДАЛЕЕ</button> -->
    </div>
    
    <!-- Вторая часть создания задания. Основное. -->    
    <div class="col-lg-12 ml-5">
      <h3 class="mt-3 mb-3 block-categories">Детали задания</h3> 
    </div>  
     <div class="d-flex block-task mt-3">               
       <div class="mt-3 col-lg-2">
         <div class="d-flex mb-3">
           <div>
             <img src="../assets/images/vertical_align_bottom.png">
           </div>

           <div class="ml-3">
             <span>Низкие цены</span><br>
             <small>
               Работа с исполнителем без
               посредников
             </small>
           </div>
         </div>

         <!-- 2 -->
         <div class="d-flex mb-3">
          <div>
            <img src="../assets/images/thumb_up.png">
          </div>

          <div class="ml-3">
            <span>Гарантия качества</span><br>
            <small>
              После завершения задания
              все доработки бесплатны
            </small>
          </div>
        </div>

        <!-- 3 -->
        <div class="d-flex">
          <div>
            <img src="../assets/images/history.png">
          </div>

          <div class="ml-3">
            <span>Точно в срок</span><br>
            <small>
              Вы сами указываете срок
              выполнения
            </small>
          </div>
        </div>
       </div>

        <!-- Форма полей задания.--> 
        <div class="mt-3">
          <h6>Выбранная категория и специализация</h6>
          <div class="mb-3">
            <label for="idTaskTitle" class="form-control-sm">
              Категория задачи
            </label>
            <strong class="asterisk">&nbsp;&#42;</strong><br>
            <span>{{categoryName || 'Не выбрано'}}</span>
          </div>

          <div class="mb-3">
            <label for="idTaskTitle" class="form-control-sm">
              Специализация задачи
            </label>
            <strong class="asterisk">&nbsp;&#42;</strong><br>
            <span>{{specName || 'Не выбрано'}}</span>
          </div>

          <h6>Опишите, что нужно сделать</h6>     
            <div class="mb-3">
              <label for="idTaskTitle" class="form-control-sm">
                Название задачи
              </label>
              <strong class="asterisk">&nbsp;&#42;</strong><br>
              <!-- <input id="idTaskTitle" 
                      class="form-control-sm input-task search-category" 
                      placeholder="Введите название"
                      [ngModel]="taskTitle"> -->

              <input  id="idEditTaskTitle" 
                      class="form-control-sm input-task search-category" 
                      placeholder="Введите название"
                      [value]="taskTitle"
                      (ngModelChange)="onChangeTitle($event)">
            </div>            

            <div class="mb-3">
              <label for="idTaskDetail" class="form-control-sm">
                Детальное описание задачи
              </label>
              <strong class="asterisk">&nbsp;&#42;</strong><br>
              <!-- <textarea id="idTaskDetail" 
                        class="form-control-sm input-task detail-field"
                        placeholder="Опишите, что именно вам нужно"
                        [ngModel]="taskDetail"></textarea> -->

              <textarea id="idEditTaskDetail" 
                        class="form-control-sm input-task detail-field"
                        placeholder="Опишите, что именно вам нужно"
                        [value]="taskDetail"
                        (ngModelChange)="onChangeDetail($event)"></textarea>
                        
                        <br>

              <input type="file"
                      class="form-control-sm"
                      multiple>
            </div>

            <div class="mb-3">
              <label for="idTaskDetail" class="form-control-sm">
                Дата сдачи задания
              </label>
              <strong class="asterisk">&nbsp;&#42;</strong><br>
              <input id="idEditDateTaskEndda" 
                    type="datetime-local" 
                    class="form-control-sm date-endda"
                    [value]="taskEndda"
                    (ngModelChange)="onChangeDateEndda($event)">
            </div>

            <div class="mb-3">
              <label for="idPrice" class="form-control-sm">
                Бюджет (в рублях)
              </label>
              <strong class="asterisk">&nbsp;&#42;</strong><br>
              <!-- <input id="idPrice" 
                      class="form-control-sm input-task-price date-endda"
                      [ngModel]="taskPrice"> -->

                    <input id="idEditPrice" 
                    class="form-control-sm input-task-price date-endda"
                    [ngModel]="taskPrice | removeSpace"
                    (ngModelChange)="onChangePrice($event)">
            </div>

            <button class="btn-next form-control-sm" (click)="onBack()">НАЗАД</button>
            &nbsp;
            <button class="btn-task btn-next form-control-sm" (click)="onChangeTaskAsync()">ИЗМЕНИТЬ И РАЗМЕСТИТЬ ЗАДАНИЕ В АУКЦИОНЕ</button>
        </div>
              
        <div class="col-lg-2">
           
        </div>
    </div>
</body>

</html>