.left-panel-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.subcategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-text {
  margin-left: 30px;
}

.card-subcategory {
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px 0 20px 0 !important;
  overflow: hidden !important;
}

.card-subcategory .card-header {
  color: white;
  background: #00BCD4;
}

.search-category {
  width: 355px;
  height: 48px !important;
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-category:focus {
  outline: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #00BCD4;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: #00BCD4;
}

input[type="radio"]:checked {
  border-color: #00BCD4;
}

.block-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.circle-first {
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  color: white;
  border-color: #00BCD4;
  background: #00BCD4;
  font-family: monospace;
}

.circle-second {
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  color: black;
  border-color: #00BCD4;
  font-family: monospace;
}

.btn-next {
  background: #00BDD6;
  color: #FFFFFF;
  border-color: #00BDD6;
  border: none;
  padding: 0 50px !important;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-block .btn-search {
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-block .btn-search:hover {
  background: #00BCD4;
  color: #FFFFFF;
}

.btn-create-task {
  background: #F4511E;
  color: #FFFFFF;
  border-color: #F4511E;
  border: none;
  padding: 0 50px !important;
}

.input-task {
  width: 50%;
}

label {
  padding: 0 !important;
  margin: 0 !important;
}

input[type="file"] {
  padding: 0;
}

#idTaskTitle {
  width: 150%;
}

#idTaskDetail {
  min-height: 228px;
  width: 150%;
}

.block-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-task {
  background: #F4511E;
  color: #FFFFFF;
  border-color: #F4511E;
  border: none;
  padding: 0 50px !important;
}
/*# sourceMappingURL=create-task.css.map */