@import "../create-task/create-task.component.scss";  
@import "../profile-bar/profile-bar.component.scss";  

.right-profile-block {
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    padding: 24px 24px 32px;
    font-family: latoregular,sans-serif;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: .2px;
    color: #222;
}

.input-score {
    width: 100px;
}

.task-filter {
    border: 1px solid #00BCD4;
    border-radius: 0!important;
}

.history-operations {
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    padding: 24px 24px 32px;
}

.btn-before-history {
    padding-left: 0!important;
}