.fon-profile {
  background: whitesmoke;
  padding: 15px 15px 15px 15px;
}

.fon-profile .stat-item {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.fon-profile .stat-item-active {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.fon-profile .stat-item-active:hover {
  background: #FFFFFF;
  cursor: pointer;
}

::ng-deep .p-datepicker table td {
  padding: 0 !important;
}
