.fon-profile {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px 15px 15px 15px;
}

.fon-profile .stat-item {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.fon-profile .stat-item-active {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

::ng-deep .p-datepicker table td {
  padding: 0 !important;
}
