.fon-profile {
  background: rgb(245, 245, 245);
  padding: 15px 15px 15px 15px;
  // margin: 10px -15px 10px 0px;

  .stat-item {
    display: flex;
    justify-content: space-between;
    color: #B6B6B6;
  }
  
  .stat-item-active {
    display: flex;
    justify-content: space-between;
    color: #B6B6B6;    

    &:hover {
      // background: rgb(245, 245, 245);
      background: #FFFFFF;
      cursor: pointer;
    }
  }
}

// Ширина календаря.
::ng-deep .p-datepicker table td {
  padding: 0!important;
}