.fon-profile {
  background: whitesmoke;
  padding: 15px 15px 15px 15px;
}

.fon-profile .stat-item {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.fon-profile .stat-item-active {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.fon-profile .stat-item-active:hover {
  background: #FFFFFF;
  cursor: pointer;
}

::ng-deep .layout {
  min-height: 100px !important;
}

::ng-deep nb-card {
  width: 100% !important;
}

::ng-deep nb-layout-column {
  padding: 0 !important;
}
