.left-panel-radio {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.subcategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subcategories-categories {
  display: flex;
  flex-wrap: wrap;
}

.subcategories-categories .list-category {
  display: flex;
}

.title-category {
  font-size: 20px;
}

.text-spec {
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.text-spec:hover {
  color: #00BCD4;
}

.card-subcategory {
  margin: 15px 15px 0 15px !important;
  border-radius: 20px 0 20px 0 !important;
  overflow: hidden !important;
}

.card-subcategory .list-spec {
  display: flex;
  align-items: flex-start;
}

.card-subcategory .card-header {
  color: white;
  background: #00BCD4;
}

.search-category {
  width: 400px !important;
  height: 48px !important;
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-category:focus {
  outline: none;
}

.detail-field {
  width: 400px !important;
  height: 100px !important;
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.detail-field:focus {
  outline: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #00BCD4;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: #00BCD4;
}

input[type="radio"]:checked {
  border-color: #00BCD4;
}

.block-categories {
  display: flex;
  flex-wrap: wrap;
}

.circle-first {
  border: 3px solid;
  border-radius: 50%;
  padding: 0px 5px;
  color: white;
  border-color: #00BCD4;
  background: #00BCD4;
  width: 32px;
  height: 32px;
  font-family: monospace;
}

.circle-second {
  border: 3px solid;
  border-radius: 50%;
  padding: 0px 5px;
  border-color: #B6B6B6;
  font-family: monospace;
  background: #EFEFEF;
}

.btn-next {
  background: #00BDD6;
  color: #FFFFFF;
  border-color: #00BDD6;
  border: none;
  padding: 0 50px !important;
  transition: all .3s ease-out;
}

.btn-next:focus {
  outline: none;
}

.btn-next:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-block {
  display: flex;
  justify-content: center;
}

.search-block .btn-search {
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-block .btn-search:hover {
  background: #00BCD4;
  color: #FFFFFF;
}

.btn-create-task {
  background: #F4511E;
  color: #FFFFFF;
  border-color: #F4511E;
  border: none;
  padding: 0 50px !important;
  border: none;
}

.input-task {
  width: 50%;
}

.input-task-price {
  width: 50%;
}

label {
  padding: 0 !important;
  margin: 0 !important;
}

input[type="file"] {
  padding: 0;
}

#idTaskTitle {
  width: 150%;
}

#idTaskDetail {
  min-height: 228px;
  width: 150%;
}

.block-task {
  display: flex;
  justify-content: space-around;
}

.btn-task {
  background: #F4511E;
  color: #FFFFFF;
  border-color: #F4511E;
  border: none;
  padding: 0 50px !important;
}

.block-status {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px 0 20px 0;
  margin: 0 15px 0 15px;
}

.block-status .item-status {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.list-group-item {
  display: flex;
  border: none !important;
}

.date-endda {
  border: 1px solid #00BCD4;
}

.date-endda:focus {
  outline: #00BCD4;
}

.asterisk {
  color: #00BCD4;
}

.block-before-my-tasks {
  display: flex;
  justify-content: space-between;
}

.search-category {
  width: 355px;
  height: 48px !important;
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-category:focus {
  outline: none;
}

.block-my-tasks {
  display: flex !important;
  justify-content: space-around;
  line-height: 2;
  flex-direction: column;
}

.block-my-tasks .task-status {
  color: #00BCD4;
}

.task-title {
  color: #00BCD4;
  font-size: 18px;
  font-family: Open Sans;
}

.task-detail {
  color: #B6B6B6;
}

.block-icon {
  display: flex;
  align-items: center;
  line-height: 1;
}

.header-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none !important;
}

.task-price {
  color: #00BCD4;
  align-items: center;
  display: flex;
}

.block-footer {
  display: flex;
  justify-content: space-between;
}

.block-footer .task-category {
  color: #2D7091;
}

.block-footer .offer {
  color: #00BCD4;
}

.card-footer {
  background: none !important;
}

.my-tasks {
  margin-left: 30px;
}

.pagination {
  margin: 10px 10px;
}

.block-pagination {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 20px;
}

.block-pagination .page-item a {
  border: none;
  border-radius: 50%;
  padding: 0px 5px;
  font-family: monospace;
}

.block-pagination .page-item a:hover {
  cursor: pointer;
}

.pagination li .page-item .active {
  background: #00BCD4;
  border-radius: 50%;
}

.page-link .active {
  background: #00BCD4 !important;
  border-radius: 50%;
}

.page-link:hover {
  background: #E0F7FA !important;
}

.page-item.active .page-link {
  background: #00BCD4 !important;
  border-radius: 50%;
}

.page-item .page-link {
  color: #B6B6B6;
}

.fon-profile {
  background: #EFEFEF;
  line-height: 2;
  padding: 20px;
}

.fon-profile .stat-item {
  display: flex;
  justify-content: space-between;
  color: #B6B6B6;
}

.search-block-task {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
}

.search-block-task .btn-search {
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.search-block-task .btn-search:hover {
  background: #00BCD4;
  color: #FFFFFF;
}

.search-block-task .task-filter {
  border: 1px solid #00BCD4;
  border-radius: 0 !important;
}

.block-task-title {
  margin: 0 15px 0 15px;
}
