<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
</head>

<body>
  <div class="block-before-my-tasks col-lg-12 d-flex mt-5">
    <div class="col-lg-1">

    </div>

    <div class="col-lg-7">
      <div>
        <h3 class="mb-3">Здравствуйте, {{oProfileData.firstName}}!</h3>
      </div>
      <p>Место для фото пользователя</p>

      <p-tabView>
        <p-tabPanel header="Обо мне">
            <h4>Немного о себе</h4>
            <span>{{oProfileData.aboutInfo}}</span>
  
            <h4 class="mt-3">Категории и специализации выполняемых заданий</h4>
            <div class="mt-3" *ngFor="let category of aCategories;let idx=index;">
              <strong>{{category.categoryName}}</strong><small class="ml-2">Выбрать все</small><br>
              <div *ngFor="let spec of aCategories[idx].specializations">
                <div class="d-flex align-items-center">
                  <input type="checkbox" class="mr-1" [ngModel]="checked"
                    (click)="onSelectSpec(!checked, spec.specName)"><span>{{spec.specName}}</span>
                </div>
              </div>
            </div>
  
            <button class="btn-next form-control-sm mt-3 mb-3" (click)="onSaveSpecies()">Сохранить</button>
        </p-tabPanel>

        <p-tabPanel header="Счет">
            <h4>Ваш баланс: 0</h4>
            <!-- Пополнение. -->
            <div>
              <span>Пополнить счет на</span>
              <input type="text" id="idInputAddScore" [(ngModel)]="iDefaultScore"
                class="form-control-sm date-endda ml-2 mt-3 input-score" (input)="onCheckScore(iDefaultScore)"> ₽
              <button id="idBtnAddScore" class="btn-next form-control-sm ml-1" (click)="onRouteRefillOrder()">Пополнить
                счет</button>
            </div>
  
            <div class="mt-1" *ngIf="bErrorScore">
              <small class="text-danger">Минимальная сумма для пополнения 150 ₽</small>
            </div>
  
            <!-- История операций. -->
            <div class="mt-5 history-operations">
              <div class="">
                <div class="d-flex">
                  <h4>История операций: &nbsp;</h4>
                  <select class="form-control-sm task-filter ml-2">
                    <option></option>
                    <option>За неделю</option>
                    <option>За месяц</option>
                    <option>За год</option>
                    <option>За период</option>
                  </select>
                </div>
  
                <div>
                  <button class="form-control-sm btn btn-link btn-before-history">Все операции</button>
                  <button class="form-control-sm btn btn-link">Пополнение счета</button>
                  <button class="form-control-sm btn btn-link">Списание со счета</button>
                </div>
              </div>
            </div>
  
            <!-- Частые вопросы. -->
            <div>
              <h4 class="mt-5">Частые вопросы</h4>
              <b>Заголовок вопроса</b>
              <p>Текст вопроса</p>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Тарифы">
            <button class="form-control-sm btn btn-link">Подключить тарифы</button>
        </p-tabPanel>

        <p-tabPanel header="Настройки">
            <h4 class="mb-3">Личные данные</h4>
          <div class="settings-item">
            <!-- Имя. -->
            <div class="mb-3">
              <label class="form-control-sm" for="idName">Имя</label>
              <div>
                <input type="text" id="idName" [ngModel]="firstName" class="form-control-sm date-endda input-settings">
              </div>
            </div>

            <!-- Фамилия. -->
            <div class="mb-3">
              <label class="form-control-sm" for="idFam">Фамилия</label>
              <div>
                <input type="text" id="idFam" [ngModel]="lastName" class="form-control-sm date-endda input-settings">
              </div>
            </div>

            <!-- Отчество. -->
            <div class="mb-3">
              <label class="form-control-sm" for="idPatr">Отчество</label>
              <div>
                <input type="text" id="idPatr" [ngModel]="patronymic" class="form-control-sm date-endda input-settings">
              </div>
            </div>
          </div>

          <!-- Пол. -->
          <div class="mb-3">
            <label class="form-control-sm" for="idFam">Пол</label>
            <div>
              <input type="radio" id="idGenderMale" class="form-control-sm date-endda input-settings" name="gender"
                (click)="onSelectGender('male')">&nbsp;Мужчина

              <input type="radio" id="idGenderFemale" class="form-control-sm date-endda input-settings ml-3"
                name="gender" (click)="onSelectGender('female')">&nbsp;Женщина

              <!-- Город. -->
              <div class="mb-3">
                <label class="form-control-sm mt-3" for="idCity">Город</label>
                <div>
                  <input type="text" id="idCity" [ngModel]="city" class="form-control-sm date-endda input-settings">
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label class="form-control-sm" for="idEmail">Email</label>
              <div>
                <input type="email" id="idEmail" [ngModel]="userEmail"
                  class="form-control-sm date-endda input-settings"><br>
                <small class="text-muted">Ваш email виден только вам</small>
              </div>
            </div>
          </div>

          <button class="btn-next form-control-sm" (click)="onSaveDataAsync()">Сохранить личные данные</button>

          <hr class="mt-5 mb-5">

          <!-- Номер телефона. -->
          <div class="mb-3">
            <h4>Номер телефона</h4>
            <label class="form-control-sm" for="idFam">Контактный номер</label>
            <div>
              <input type="text" id="idNum" class="form-control-sm date-endda input-settings"><br>
              <small class="text-muted">Ваш номер телефона виден только вам</small>
            </div>
          </div>

          <button class="btn-next form-control-sm">Сохранить номер телефона</button>

          <hr class="mt-5 mb-5">
          <!-- PRO -->
          <div class="mb-3">
            <h4>PRO-аккаунт</h4>
            <div>
              <button class="btn-task form-control-sm">Стать PRO</button><br>
              <button class="form-control-sm btn btn-link btn-before-history">Что дает PRO-аккаунт?</button>
              <hr class="mt-5 mb-5">              
              <p-button label="Удалить профиль" styleClass="p-button-danger"></p-button>
            </div>
          </div>
          </p-tabPanel>
      </p-tabView>
    </div>

    <div class="col-lg-3">
      <div class="right-profile-block">
        <h5 *ngIf="role == 'E'">Исполнитель</h5>
        <h5 *ngIf="role == 'C'">Заказчик</h5>
        <p>на Barbuuuda с {{dateRegister}}</p>
      </div>
    </div>

    <div class="col-lg-1">

    </div>
  </div>

</body>

</html>