.right-profile-block {
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    padding: 24px 24px 32px;
    font-family: latoregular,sans-serif;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: .2px;
    color: #222;
}