<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- Главный фон. -->
   <div class="block-main-fon">
    <img src="../assets/images/welcome.jpg" class="main-fon" />

    <div class="centered-fon" *ngFor="let el of aWhyis">
      <h3 class="title">{{el.mainTitle}}</h3>
      <span class="title-dop mt-3">{{el.secondTitle}}</span>
      <button class="btn-create-task form-control-lg"
              _v-on:click="onRouteCreateTask()">{{el.btnText}}</button>
    </div>

    <!-- Левая панель. -->
    <div class="col-lg-2 left-menu left-panel">
      <nav class="sidebar-sticky navbar-expand-md left-nav">
        <div class="block-title">
          <a href="#" class="logo-title">Barbuuuda</a>
        </div>
        <!-- если вместо navbar-toggler поставить toggled это скрыть по умолчанию -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="idLeftMenu">
          <ul class="navbar-nav flex-column left-ul">
            <li class="nav-item active litem">
              <div class="nav-link">
                <i class="fa fa-tasks icon" aria-hidden="true"></i>
                <!-- <router-link to="/auction">Все задания</router-link> -->
              </div>
            </li>

            <li class="nav-item litem">
              <div class="nav-link">
                <i class="fa fa-users icon" aria-hidden="true"></i>
                <a href="">Исполнители</a>
              </div>
            </li>

            <li class="nav-item litem">
              <div class="nav-link">
                <i class="fa fa-window-restore icon" aria-hidden="true"></i>
                <!-- <router-link to="/categories">Категории</router-link> -->
              </div>
            </li>

            <li class="nav-item litem">
              <div class="nav-link">
                <i class="fa fa-exclamation-circle icon" aria-hidden="true"></i>
                <a href="">Правила сайта</a>
              </div>
            </li>

            <li class="nav-item litem">
              <div class="nav-link">
                <i class="fa fa-question-circle icon" aria-hidden="true"></i>
                <a href="">FAQ</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div> 
  </div>
</body>
</html>