$openSans: Open Sans;

// body {
//   overflow: hidden;
// }

.footer {
  background: #131E27;
  color: #98AAB7;
  padding-top: 50px;
  padding-bottom: 50px;

  .big-title {
    color: #98AAB7;
    font-family: $openSans;
    font-size: 14px;
  }

  .email {
    color: #00BDD6;
  }

  .btn-app {
    background: #131E27;
    color: white;
    border: 1px solid #00BDD6;
  }

  .small-text {
    font-family: Oswald;
    font-size: 10px;
  }

  .big-text {
    font-family: Oswald;
    font-size: 12px;
  }

  .bold-text {
    color: #98AAB7;
    font-family: $openSans;
    //font-size: 10px;
  }
}

.before-footer {
  background: #F3F1F9;
  color: #0D1D4A;
//   height: 57px;
  align-items: center;
}

.block-payment {
    align-items: center;
}