// $openSans: Open Sans;

body {
  // overflow: hidden;
  font-family: 'Montserrat';
}

.footer {
  background: #EFF3F6;
  color: #98AAB7;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  // margin-top: 30px;

  .big-title {
    color: #98AAB7;
    font-size: 14px;
  }

  .contacts {
    margin-right: 37px;

    .contact-icons {
      display: flex;

      .fab {
        height: 32px;
        width: 32px;
        font-size: 24px;
        background: #005F96;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
      }

      .fa-instagram {
        margin-right: 16px;
      }
    }
  }

  .email {
    color: #00BDD6;
  }

  .copy {
    margin-top: 36px;
    margin-left: 50px;
  }

  .btn-app {
    background: #131E27;
    color: white;
    border: 1px solid #00BDD6;
  }

  .small-text {
    font-family: Oswald;
    font-size: 10px;
  }

  .big-text {
    font-family: Oswald;
    font-size: 12px;
  }

  .bold-text {
    font-weight: 600;
    font-size: 24px;
    color: #413839;
    //font-size: 10px;
  }
}

.before-footer {
  background: #F3F1F9;
  color: #0D1D4A;
  //   height: 57px;
}

.block-payment {
  justify-content: center;
}