<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <vue-headful title="Barbuuuda: Просмотр задания"/>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"> -->
</head>

<body>
    <!-- Статусы. -->
    <div class="mt-4 pt-3 mb-4 text-center block-status">
        <div class="mb-3 item-status">
            <span class="circle-first">1</span>&nbsp;
            <span class="category-text">Создание задания</span>
            <br>
            <small><a href="#">Редактировать</a></small>
        </div>

        <div class="mb-3 item-status">
            <span class="circle-second">2</span>&nbsp;
            <span class="category-text">В аукционе</span>
        </div>

        <div class="mb-3 item-status">
            <span class="circle-second">3</span>&nbsp;
            <span class="category-text">В работе</span>
        </div>

        <div class="mb-3 item-status">
            <span class="circle-second">4</span>&nbsp;
            <span class="category-text">На гарантии</span>
        </div>

        <div class="mb-3 item-status">
            <span class="circle-second">5</span>&nbsp;
            <span class="category-text">Завершен</span>
        </div>
    </div>

    <div class="d-flex block-task-title">
        <div class="col-lg-12 details-task item-view">
            <span class=""><strong>Название задания:</strong> {{this.oEditTask.editTask[0].taskTitle}}</span>

            <div class="">
                <span><strong>Описание задания:</strong> {{this.oEditTask.editTask[0].taskDetail}}</span>
            </div>
        </div>        
    </div>

    <div class="col-lg-2 mt-5">
        <img src="../assets/images/chat-icon.png">&nbsp;
        <strong class="chat-link" 
                data-toggle="modal" 
                data-target=".bd-example-modal-xl">
          Открыть чат
        </strong>
    </div>

    <!-- Детали задания. -->
    <div class="col-lg-12 mt-5 mb-5">
        <div class="d-flex">
            <div class="fon-profile col-lg-3">
                <h6>Детали задания</h6>

                <div class="stat-item">
                    <div>
                        <small>ID:</small>
                    </div>

                    <div>
                        {{this.oEditTask.editTask[0].taskId}}
                    </div>
                </div>

                <div class="stat-item">
                    <div>
                        <small>Бюджет:</small>
                    </div>

                    <div>
                        <small v-show="this.oEditTask.editTask[0].taskPrice">{{this.oEditTask.editTask[0].taskPrice}} ₽</small>

                        <small v-show="!this.oEditTask.editTask[0].taskPrice">По договоренности</small>
                    </div>
                </div>

                <div class="stat-item">
                    <div>
                        <small>Дата сдачи до:</small>
                    </div>

                    <div>
                        <small>{{this.oEditTask.editTask[0].taskBegda}}</small>
                    </div>
                </div>

                <div class="stat-item">
                    <div>
                        <small>Категория:</small>
                    </div>

                    <div>
                        <small>{{this.oEditTask.editTask[0].categoryName}}</small>
                    </div>
                </div>

                <div class="stat-item">
                    <div>
                        <small>Специализация:</small>
                    </div>

                    <div>
                        <small>{{this.oEditTask.editTask[0].specName}}</small>
                    </div>
                </div>

                <div class="stat-item task-details mt-3 mb-3">
                    <div>
                        <button class="btn-next form-control-sm" 
                                v-show="oData.bCustomer"
                                v-on:click="onEditTask()">
                            РЕДАКТИРОВАТЬ
                        </button>      
                        
                        <button class="btn-next form-control-sm" 
                                v-show="oData.bExecutor"
                                v-on:click="onShowRespondModal()">
                            СДЕЛАТЬ СТАВКУ
                        </button>   
                    </div>                   
                </div>

                <button class="form-control-sm btn btn-link" 
                        v-show="oData.role == 'C'" 
                        v-on:click="">
                    В черновик
                </button>

                <br>

                <button class="form-control-sm btn btn-link" 
                        v-show="oData.role == 'C'" 
                        v-on:click="onShowDeleteModal()">
                    Удалить
                </button>
            </div>

            <!-- Правая часть. -->
            <div class="col-lg-9">                
                <div class="d-flex mt-3">
                    <div class="item-view d-flex col-lg-12">
                        <div class="col-lg-6 text-center">
                            <span>Исполнители, представленные ниже, были<br> проверены и приняты администрацией.</span>
                        </div>

                        <div class="col-lg-6 text-center">
                            <span>Все исполнители имеют рейтинг, отзывы и<br> историю выполненных работ.</span>
                        </div>
                    </div>
                </div>
                
                <h6 class="mt-3 mb-3" v-show="oData.role == 'E'">
                    <strong>Ставок к заданию: </strong> {{respondCount}} </h6>

                <h5 class="mt-3 mb-3" v-show="oData.role == 'C'">
                    <strong>Выберите исполнителя</strong> для вашего задания</h5>

                <!-- Область со списком ставок к заданию. -->
                <!-- <details id="idOpen" v-on:click="onTogglebRespondsOpen($event)">
                    <summary v-show="!bOpen && oData.role == 'E'">
                        Посмотреть комментарии других исполнителей
                    </summary>            

                    <summary v-show="bOpen && oData.role == 'E'">
                        Скрыть комментарии других исполнителей
                    </summary>    -->

                    <div class="card responds_list" v-for="respond in aResponds">
                        <div class="card-body d-flex justify-content-between">
                        <div class="">
                            <div class="d-flex">
                                <img class="mr-1 icon_photo" v-bind:src="getImgUrl(respond.userIcon)">
                                
                                <div class="ml-3">
                                    <div>
                                        <strong>{{respond.userName}}</strong>
                                    </div>
                                    
                                    <div _class="col-lg-12"> 
                                        <span>{{respond.comment}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="d-flex mt-3">
                                    <img class="mr-1" src="../assets/images/allworks.webp">
                                    <span>Всего заданий {{respond.countTotalCompletedTask}}</span>
                                </div>
        
                                <div class="d-flex align-items-center mt-3 ml-5">
                                    <img class="mr-1" src="../assets/images/good.webp">
                                    <span>{{respond.countPositive}}</span>
                                </div>

                                <div class="d-flex align-items-center mt-3 ml-5">
                                    <img class="mr-1" src="../assets/images/bad.webp">
                                    <span>{{respond.countNegative}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <div>
                                <strong>Ставка {{respond.price}} ₽</strong>
                            </div>
                            
                            <div>
                                <button class="btn-next form-control-sm mt-3" 
                                        v-show="oData.role == 'C'" 
                                        data-toggle="modal" 
                                        data-target=".bd-example-modal-xl">
                                    ОТВЕТИТЬ
                                </button>

                                <button class="btn-next form-control-sm mt-3" 
                                        v-show="oData.role == 'E' && respond.isVisibleButton" 
                                        v-on:click="">
                                    ИЗМЕНИТЬ СТАВКУ
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                <!-- </details> -->
            </div>           
        </div>
    </div>

    <div class="modal fade" id="idAcceptDeleteTask" tabindex="-1" role="dialog" aria-labelledby="idAcceptDeleteTaskTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="idNotCustomerTitle">Вы уверенны, что хотите удалить задание?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div class="modal-body">
              Удаленное задание невозможно будет восстановить.
            </div>
    
            <div class="modal-footer">
                <button type="button" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                    Отменить
                </button>

                <button type="button" 
                        class="btn btn-danger"
                        data-dismiss="modal"
                        v-on:click="OnDeleteTask()">
                    Удалить
                </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Модальное окно СДЕЛАТЬ СТАВКУ. -->
      <div class="modal fade" id="idRespond" tabindex="-1" role="dialog" aria-labelledby="idNotRespondTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="idNotRespondTitle">Сделать ставку</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div class="modal-body">
                <div class="area-respond">
                    <div>
                        <label class="form-control-sm">Я сделаю задание за:</label><br>
                        <input id="idRespond" 
                            class="form-control-sm input-respond input-task-price date-endda"
                            v-model="price"> ₽
                    </div>
    
                    <div>
                        <label class="form-control-sm">Сумма для заказчика:</label><br>    
                        <strong>0 ₽</strong><br>
                        <label class="form-control-sm">включая комиссию сервиса 22 %</label>   
                    </div>                   
                </div>
                
                <div class="area-respond mt-3 mb-3">
                    <div>
                        <label class="form-control-sm"><strong>Комментарий</strong></label>                                              
                    </div>
    
                    <div>
                        <select class="form-control-sm task-filter"
                                _v-on:change="onFilterTasks($event.target.value)">
                            <option>Выберите шаблон</option>
                        </select>
                    </div>                     
                </div>         

                <textarea id="idareaRespond" 
                    class="form-control-sm input-task detail-field"
                    placeholder="Напишите приветственное сообщение к ставке..."
                    v-model="comment"/>     

                    <br>  

                    <input type="checkbox" 
                    class="mr-1"
                    v-model="checked"
                    _v-on:click="onSelectSpec(!checked, spec.specName)">
                    <label class="form-control-sm">
                        Сохранить комментарий как шаблон
                    </label>             
            </div>
    
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" 
                        class="btn-create-task form-control-sm btn-all-tasks" 
                        data-dismiss="modal"
                        v-on:click="onRespond(price, comment)">
                        СДЕЛАТЬ СТАВКУ
                </button>
                
                <button class="btn-next form-control-sm" data-dismiss="modal">
                    ЗАКРЫТЬ
                </button>      
            </div>
          </div>
        </div>
      </div>

      <!-- Модальное окно переписки с исполнителями. -->
      <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="container">
              <div class="d-flex justify-content-center">
                <span class="">Messaging</span>
              </div>
              <div class="messaging mb-4">
                <div class="inbox_msg">
                  <div class="inbox_people">
                    <div class="headind_srch">
                      <div class="recent_heading">
                        <!-- <h4>Recent</h4> -->
                      </div>
                      <div class="srch_bar">
                        <div class="stylish-input-group">
                          <input type="text" class="search-bar" placeholder="Search">
                          <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                          </span> </div>
                      </div>
                    </div>
                    <div class="inbox_chat">
                      <div class="chat_list active_chat" v-for="dialog in aDialogs">
                        <div class="chat_people">
                          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                              alt="sunil"> </div>
                          <div class="chat_ib">
                            <h5>{{dialog.userName}} 
                              <!-- <span class="chat_date">Dec 25</span> -->
                            </h5>

                            <p>{{dialog.lastMessage}}</p>

                            <p>{{dialog.price}} ₽</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mesgs">
                    <div class="msg_history">
                      <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Test which is a new approach to have all
                              solutions</p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                          </div>
                        </div>
                      </div>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>Test which is a new approach to have all
                            solutions</p>
                          <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                      </div>
                      <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Test, which is a new approach to have</p>
                            <span class="time_date"> 11:01 AM | Yesterday</span>
                          </div>
                        </div>
                      </div>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>Apollo University, Delhi, India Test</p>
                          <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                      </div>
                      <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>We work directly with our designers and suppliers,
                              and sell direct to you, which means quality, exclusive
                              products, at a price anyone can afford.</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="type_msg">
                      <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                            aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>
                </div>

<!-- 
                <span class="d-flex justify-content-center top_spac"> Design by <a target="_blank"
                    href="https://www.linkedin.com/in/sunil-rajput-nattho-singh/">Sunil Rajput</a></span> -->
                    <!-- <div>&nbsp;</div> -->

              </div>
            </div>
          </div>
        </div>
        </div>
</body>
</html>