.edit-task-title {
    font-weight: 500;
}

.chat-link {
    font-size: 18px;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.item-view {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px 0 20px 0;
    padding: 0 50px;
}

.task-details {
    display: flex!important;
    justify-content: center!important;
}

.btn-link {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }    

    &:hover {
        text-decoration: none !important;
    }
}

.btn-create-task {
    background: #F4511E;
    color: #FFFFFF;
    border-color: #F4511E;
    border: none;
    padding: 0 50px!important;
    border: none;
    transition: all .3s ease-out;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
}

.area-respond {
    display: flex;
    justify-content: space-between;
}

.input-respond {
    width: 50%;
}

.icon_photo {
    width: 50px;
    height: 50px;
}