<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <footer class="footer mt-5">
    <div class="container d-flex justify-content-between">      
      <div class="big-title">
        <div class="bold-text">
          <strong>
            Работаем по будням<br />
            с 10:00 до 20:00 по Мск<br />
          </strong>
        </div>

        <small class="email">info.barbuuuda@mail.ru</small><br />

        <button type="button" class="btn-app mt-1">
          <!-- <span class="small-text">Будьте всегда на связи <br>с мобильным приложением Barbuuuda</span> -->
          <span class="big-text">Будьте всегда на связи <br>с мобильным приложением Barbuuuda</span>
          <!-- <span class="big-text">Приложение Barbuuuda</span> -->
        </button>
      </div>

      <!-- Поддержка. -->
      <div>
        <span>
          <strong class="bold-text">Поддержка</strong>
        </span>

        <br />

        <span>
          Вконтакте
        </span>

        <br />

        <span>
          Instagram
        </span>
      </div>

      <!-- Информация. -->
      <div>
        <span>
          <strong class="bold-text">Информация</strong>
        </span>

        <br />

        <span>
          Топ исполнителей
        </span>

        <br />

        <span>
          Пользовательское соглашение
        </span>

        <br />

        <span>
          Политика конфиденциальности
        </span>

        <br />

        <a href="/public-offer">
          <span>
            Публичная оферта
          </span>
        </a>

        <br>

        <span>
          База знаний
        </span>
      </div>

      <!-- Основные направления. -->
      <div>
        <span>
          <strong class="bold-text">Основные направления</strong>          
        </span>

        <br />

        <span>
          Разработка сайтов
        </span>

        <br />

        <span>
          Работа для преподавателей
        </span>

        <br />

        <span>
          Заработок для студентов
        </span>

        <br />

        <span>
          Список всех предметов
        </span>

        <br />

        <span>
          Список всех типов работ
        </span>
      </div>

      <!-- О сервисе. -->
      <div>
        <span>
          <strong class="bold-text">Популярные вопросы</strong>          
        </span>

        <br />

        <span>
          Партнерская программа
        </span>

        <br />

        <span>
          Контакты
        </span>
      </div>
    </div>
  </footer>

  <!-- <div class="before-footer">
    <div class="container block-payment d-flex justify-content-between">
      <div>
        &copy; 2021 Barbuuuda. Все права защищены.
      </div>

      <div>
        <span>Мы принимаем:</span>
        <img src="../assets/images/payment.png" />
      </div>
    </div>
  </div> -->
</body>
</html>